body{
  padding:50px;
  background-color:#ADD8E6;
}
.row{
  overflow:hidden;
}
.navbar{
  background:
}

.question1{
  padding:10px;

}
.question2{
  padding:10px;
}
.question3{
  padding:10px;
}
.question4{
  padding:10px;
}
.inpadding{
  padding: 10px;
  border-radius: 25px;
  background: #6c8790;
  color:white;
  font-family: 'Varela Round', sans-serif;
}

h3{
  font-family: 'Staatliches', cursive;
}
h5{
  font-family: 'Staatliches', cursive;
}
.navbar{
  background-color: #7c9ba5;
  color:white;
}
.navbar-default .navbar-brand{
  color:white;
}

.submitButton input{
  width:100%;
  border:none;
  padding:10px;
  font-family: 'Staatliches', cursive;
  font-size: 30px;

}
.showScore{
  font-family: 'Staatliches', cursive;
  font-size: 30px;
}
